<header>
    <h1>Inicio</h1>
</header>

<body>   
    <main>
    <div class="container">
        <h1>Bienvenido a nuestra aplicación de películas</h1>
        <p>Explora nuestro catálogo de películas y descubre tus favoritas.</p>
    </div>      
        <p>Somos una plataforma que te ofrece una amplia variedad de productos de alta calidad para satisfacer tus necesidades.</p>
        <p>Nuestro objetivo es proporcionarte una experiencia de compra excepcional y facilitar el acceso a los productos que buscas.</p>
        <p>Descubre nuestras ofertas exclusivas y disfruta de un servicio al cliente excepcional. </p>
        <p>Es tu destino definitivo para descubrir y disfrutar de películas de todas las épocas y géneros!</p>
            
        <h2>¿Cómo funciona?</h2>
        <p>Te ofrece una experiencia única para explorar, buscar y disfrutar de tus películas favoritas. Aquí tienes algunas características destacadas:</p>
            
        <ul>
            <li><strong>Explora:</strong> Descubre una amplia variedad de películas organizadas por género, año de lanzamiento y calificación.</li>
            <li><strong>Busca:</strong> Utiliza nuestra poderosa función de búsqueda para encontrar fácilmente las películas que deseas ver.</li>
            <li><strong>Detalles de la película:</strong> Obtén información detallada sobre cada película, incluyendo su título, director, descripción y una imagen destacada.</li>
            <li><strong>Actualización y eliminación:</strong> Actualiza los detalles de una película existente o elimina una película de tu colección.</li>
        </ul>
            
        <h2>¡Empieza a explorar!</h2>
        <p>¡Regístrate ahora y comienza a disfrutar de la mejor experiencia cinematográfica en línea! ¿Qué estás esperando?</p>
    </main>
</body> 